*,
*::before,
*::after {
   box-sizing: border-box;
}
body {
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   font-weight: 500;
   line-height: 26px;
   color: #323232;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
}
button {
   font-family: 'Montserrat', sans-serif;
}
.header {
   background-color: #151313;
   width: 100%;
}
.container {
   max-width: 1250px;
   padding: 0 15px;
   margin: 0 auto;
}
.header__inner {
   display: flex;
   justify-content: space-between;
}
.header__inner-logo {
   padding: 9px 0 6px;
}
.signup {
   padding: 13px 0 7px;
}
.signup span {
   color: #fff;
}
.signup__btn {
   font-size: 13px;
   font-weight: 500;
   line-height: 15px;
   padding: 8px 52px 6px;
   border: none;
   background: -webkit-linear-gradient(-45deg, #D2221E 53%,#fff 47%);
   cursor: pointer;
}

.about {
   color: #323232;
   margin-bottom: 100px;
}

.about__inner {
   width: 100%;
   padding-top: 116px;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.right_img {
   width: 50%;
}
.about__inner-text {
   width: 46%;
}
.about__title {
   font-size: 45px;
   font-weight: 700;
   line-height: 54px;
   margin-bottom: 44px;
}


.looked {
   width: 100%;
   color: #fff;
   position: relative;
   margin-bottom: 300px;
}
.looked::after {
   content: "";
   position: absolute;
   background: url(../img/bg2.svg);
   width: 100%;
   height: 137vh;
   top: -150px;
   left: 0;
   z-index: -1;
}
.looked__inner {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   padding-top: 250px;
}
.left_img {
   width: 50%;
}
.looked__inner-text {
   width: 45%;
}
.looked__title {
   font-size: 45px;
   font-weight: 700;
   line-height: 54px;
   margin-bottom: 56px;
}
.looked__text span {
   display: block;
}

.teacher {
}
.teacher__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 88px;
   padding-bottom: 114px;
}
.teacher__inner {
   text-align: center;
}
.teacher__title {
   font-size: 43px;
   font-weight: 700;
   line-height: 52px;
   margin-bottom: 10px;
}
.teacher__span {
   display: block;
}
.teacher__link {
   font-size: 17px;
   font-weight: 600;
   line-height: 20px;
   color: #0047FD;
}
.teacher__link:hover {
   text-decoration: underline;
}
.teacher__inner-text {
   text-align: left;
   margin-right: 80px;
}
.teacher__text {
   font-size: 22px;
   font-weight: 400;
   font-style: italic;
   line-height: 28px;
   margin-bottom: 48px;
}
.teacher__name {
   font-size: 18px;
   font-weight: 600;
   line-height: 21px;
   margin-bottom: 5px;
}
.about__teacher {
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
}
.about__teacher span {
   font-size: 18px;
   font-weight: 600;
   line-height: 21px;
   text-transform: uppercase;
}

.technologies {
   width: 100%;
   background-color: #151313;
   margin-bottom: 44px;
}

.technologies__inner {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(154px, 5fr) );
   grid-gap: 10px 112px;
   margin: 0 auto;
   padding: 18px 0 19px;
}
.technologies__inner-img {
   margin: 0 auto;
}

.technologies__inner-img:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   transition: all .5s;
}
.technologies__inner-img:not(:hover) {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray;
}
.course {
   background-color: #D2221E;
   width: 100%;
   color: #fff;
   position: relative;
   margin-bottom: 26px;
}
.course::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 28px;
   background-color: #EBA09E;
   bottom: 0;
   left: 0;
}
.course__inner {
   padding-top: 70px;
   display: flex;justify-content: space-between;
   padding-bottom: 75px;
}
.course__inner-text {
   width: 50%;
}
.course__title {
   font-size: 43px;
   font-weight: 700;
   line-height: 52px;
   margin-bottom: 50px;
}
.course__text {
   font-size: 22px;
   font-weight: 400;
   font-style: italic;
   line-height: 28px;
   margin-bottom: 25px;
}
.text2 {
   margin-bottom: 50px;
}
.course__card {
   color: #151313;
   width: 100%;
   background-color: #fff;
   border-radius: 5px;
}
.course__card-content {
   padding: 17px 80px 30px 57px;
}
.course__card-title {
   font-size: 18px;
   font-weight: 600;
   line-height: 21px;
   margin-bottom: 15px;
}
.card__lists {
   display: flex;
}
.card__list-num {
   margin-right: 10px;
}
.card__list-item {
   font-size: 22px;
   font-weight: 400;
   font-style: italic;
   line-height: 28px;
}
.card__list-item span {
   font-size: 18px;
   font-weight: 600;
   font-style: normal;
   line-height: 21px;
}
.course__img {

}

.footer {
   font-family: 'Revalia', cursive;
   width: 100%;
   color: #fff;
   background-color: #000;
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
}

.footer__inner {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 22px 0 30px;
}
.bish {
   display: block;
   margin-bottom: 20px;
}

.answers__list {
   margin-bottom: 20px;
}
.answers__span {
   color: #FF0B0B;
}

.socials__item {
   margin-bottom: 36px;
}

.socials__item-icons {
   display: flex;
   justify-content: space-between;
   max-width: 79px;
   margin-top: 10px;
}

@media (max-width: 1200px) {
   .teacher__inner-text {
      margin-right: 0;
      width: 45%;
   }
   .teacher__img {
      width: 50%;
   }
   .course__img {
      width: 50%;
   }
}

@media (max-width: 1140px) {
   .about__inner {
      padding-top: 40px;
      flex-direction: column;
   }
   .about__inner-text {
      width: 100%;
      text-align: center;
   }
   .about__title {
      margin-bottom: 30px;
   }
   .right_img {
      width: 70%;
      margin: 0 auto;
   }
   .looked__inner {
      padding-top: 100px;
      flex-direction: column;
   }
   .looked__inner-text {
      width: 100%;
      text-align: center;
   }
   .looked__title  {
      margin-bottom: 30px;
   }
   .left_img {
      width: 55%;
      margin: 0 auto;
   }
   .teacher__text {
      font-size: 18px;
   }
   .teacher__name {
      font-size: 16px;
   }
   .about__teacher {
      font-size: 16px;
   }
   .course__inner {
      flex-direction: column;
      padding-top: 50px;
   }
   .course__title {
      margin-bottom: 30px;
   }
   .text2 {
      margin-bottom: 30px;
   }
   .course__inner-text {
      width: 100%;
      text-align: center;
   }
   .course__card {
      width: 50%;
      text-align: left;
      margin: 0 auto;
   }
   .course__img {
      order: -1;
      margin: 0 auto;
   }
   .course__card-content {
      padding-right: 30px;
   }
}

@media (max-width: 990px) {
   .about__title {
      font-size: 38px;
      margin-bottom: 20px;
   }
   .about__text {
     font-size: 18px;
     line-height: 21px;
   }
   .looked__title {
      font-size: 38px;
      line-height: 51px;
      margin-bottom: 20px;
   }
   .looked__text {
      font-size: 18px;
      line-height: 21px;
   }
   .teacher__title {
      font-size: 38px;
      line-height: 47px;
   }
   .teacher__content {
      align-items: flex-start;
   }
   .teacher__text {
      margin-bottom: 30px;
   }
}

@media (max-width: 920px) {
   .footer__inner {
      flex-wrap: wrap;
   }
}

@media (max-width: 840px) {
    .about__inner {
      padding-top: 20px;
   }
    .about__title {
      font-size: 36px;
      margin-bottom: 15px;
   }
   .right_img {
      width: 80%;
   }
   .teacher__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 0;
   }
   .teacher__content {
      flex-direction: column;
      margin-top: 60px;
      padding-bottom: 80px;
   }
   .teacher__inner-text {
      width: 100%;
      margin-bottom: 20px;
   }
   .teacher__text {
      text-align: center;
      margin-bottom: 20px;
   }
   .teacher__name {
      font-size: 14px;
      text-align: end;
   }
   .about__teacher {
      font-size: 14px;
      text-align: end;
   }
   .about__teacher span {
      font-size: 14px;
   }
   .teacher__img {
      width: 100%;
   }
   .course__text {
      font-size: 18px;
      line-height: 21px;
   }
   .course__card {
      width: 65%;
   }
}
@media (max-width: 780px) {
   .looked__inner {
      padding-top: 150px;
   }
   .looked__title {
      font-size: 34px;
      line-height: 36px;
   }
   .looked::after {
      height: 122vh;
   }
   .teacher__content {
      margin-top: 20px;
   }
   .teacher__title {
      font-size: 28px;
      line-height: 31px;
   }
   .teacher__link {
      font-size: 16px;
   }
   .location {
      margin-bottom: 20px;
   }
}

@media (max-width: 690px) {
   .left_img {
      width: 70%;
   }
   .looked {
      margin-bottom: 260px;
   }
   .course__title {
      font-size: 38px;
      line-height: 43px;
   }
   .course__card-title {
      font-size: 16px;
   }
   .card__list-item {
      font-size: 18px;
      line-height: 21px;
   }
   .course__text {
      font-size: 16px;
   }
}

@media (max-width: 580px) {
   .about__inner-text {
      margin-bottom: 20px;
   }
   .about__title {
      font-size: 34px;
      line-height: 42px;
   }
   .about__text {
      font-size: 16px;
   }
   .right_img {
      width: 95%;
   }
   .looked__inner {
      padding-top: 100px;
   }
   .left_img {
      width: 90%;
   }
   .looked__inner-text {
      font-size: 16px;
   }
   .teacher__text {
      font-size: 16px;
      line-height: 21px;
   }
   .teacher__name {
      font-size: 12px;
   }
   .about__teacher {
      font-size: 12px;
   }
   .about__teacher span {
      font-size: 12px;
   }
   .course__card {
      width: 90%;
   }
   .footer__inner {
      text-align: center;
      flex-direction: column;
   }
   .socials__item-icons {
      display: flex;
      justify-content: space-between;
      max-width: 79px;
      margin: 0 auto;
      margin-top: 20px;
  }
}

@media (max-width: 420px) {
   .header__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .about__title {
      font-size: 28px;
      line-height: 36px;
   }
   .about__text {
      font-size: 14px;
   }
   .right_img {
      width: 100%;
   }
   .looked::after {
      height: 115vh;
   }
   .left_img {
      width: 100%;
   }
   .looked__title {
      font-size: 28px;
      line-height: 36px;
   }
   .looked__text {
      font-size: 14px;
   }
   .teacher__title {
      font-size: 24px;
      line-height: 28px;
   }
   .teacher__link {
      font-size: 14px;
   }
   .teacher__text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
   }
   .teacher__name {
      margin-bottom: 0;
   }
   .course__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 20px;
   }
   .course__text {
      font-size: 14px;
      line-height: 18px;
   }
   .course__card-title {
      font-size: 14px;
   }
   .card__list-item {
      font-size: 16px;
      line-height: 19px;
   }
   .course__card-content {
      padding: 17px 10px 20px 30px;
   }
}



